@import '~bootstrap/scss/bootstrap';
@import './config.scss';

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #91A3AD;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

input[type="date"] {
  color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: $primaryColor;
}
